<section>
  <div class="jumbotron text-center">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
        <img alt="Clusiana" class="img-responsive text-center" src="modules/core/client/img/brand/clusiana.jpg" />
      </div>
    </div>
    <br>
    <div class="row">
      <p class="lead">
        Clusiana (Lady Tulip) is a MemTracking Platform for Tulip.
      </p>
    </div>
    <div class="row">
      <p>
        <a class="btn btn-primary btn-lg" href="http://interviews-gitlab.tulip.co/pinaya/pinaya-memtracking" target="_blank">Find out more</a>
      </p>
    </div>
  </div>
  <div>
    <h3>This platform is an inicial release, and with more time could evolve into a serious and complex project.</h3>
    <p>Documentation from the development can be found on the Git Repo</p>
    <p>Made with care by bpg92.</p>
  </div>
</section>
